<%= admin_access %>

<h1>User Profile</h1>

<h3>Name: <%= @user.name %><br></h3>
<h3>Mood: <%= @user.mood %><br></h3>
<h3>Tickets: <%= @user.tickets %><br></h3>
<h3>Height: <%= @user.height %><br></h3>

<%= link_to "Attractions", attractions_path %>
