<h1>Attractions</h1>

<% @attractions.each do |attraction| %>
  <h3>Attraction: <%= attraction.name %><br></h3>
  <h4>Tickets Required: <%= attraction.tickets %><br></h4>
  <h4>Nausea Rating: <%= attraction.nausea_rating %><br></h4>
  <h4>Happiness Rating: <%= attraction.happiness_rating %><br></h4>
  <h4>Minimum Height Requirement: <%= attraction.min_height %><br></h4>
<% end %>
